li.NaoOrd{ /*define um estilo para listas, porém é interessante quando se tem mais de uma lista identificar elas, se não alterará todas*/
    list-style: disc; 
}
nav#menu{
    display:block;
}
nav#menu ul {
    list-style: none;
}
nav#menu li {
    display: inline-block; /*faz com que o bloco seja exibido na mesma linha*/
    background-color: black;
    color:yellow;
    padding: 10px;
}
nav#menu h1{
    display:none;
}