/* Estrutura padrão do site */
body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #226115;
}

/*Logo */


#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png)
}

/* Barra de Navegação */

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858
}

/* Principal */

#conteudo {
    width: 710px;
    margin-bottom: 20px;
    float: left;
}

article#video {
    float: left;
    width: 310px;
    margin-left: 20px;
}

article#mapa {
    float: left;
    width: 310px;
    margin-left: 35px;
}

article#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}

article#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 20px;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

h3 {
    color: #227115;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* Aside */

aside {
    margin-bottom: 20px;
    width: 350px;
    float: right;
}

input {
    height: 20px;
    width: 80px;
    background-color: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    height: 40px;
    width: 100%;
    color: white;
    background: #9b9271;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 20px 20px;
    margin-top: 10px;
}

section#galeria {
    padding: 0 30px 0 30px;
}

section#galeria a {
    display: block;
    padding: 15px;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;
}

/* Footer */

footer {
    clear: both;
    padding: 20px 0;
    text-align: center;
    background: url(../img/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;
}

footer>p a {
    padding: 2px 10px;
}