figure.foto-legenda{
    position: relative; /*se adapta na página, absoluto não*/
    border: 8px solid white; /*define largura, tipo e cor da borda*/
    box-shadow: 1px 1px 4px black ; /*define uma sombra na borda, com deslocamento horizontal,vertical, espalhamento e cor*/
    width: 40%; /*largura da imagem*/
    height: 40%; /*altura da imagem*/
}   
figure.foto-legenda img{ /*dentro de figure, a classe foto-legenda tudo que for img*/
    width:100%; /*largura*/
    height: 100%; /*altura*/
}
figure.foto-legenda figcaption{
    opacity: 0;
    position:absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4); /*padrão de cores e o último parâmetro é a transparência*/
    color: white;
    font-size: 24px;
    width: 100%; /*expande a sombra criada*/
    height: 100%;
    padding: 10px; /*define a distância do conteúdo da borda até a borda*/
    box-sizing: border-box; /*cria um box dentro da borda*/
    transition: opacity 1s; /*tempo de transação da opacidade*/
}
figure.foto-legenda:hover figcaption{ /*hover dispara uma formatação específica ao passar o mouse sobre a imagem*/
    opacity: 1;

}