#box {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    background: rgb(44, 44, 135);
    box-shadow: 0 5px 10px #000;
}

#box h1 {
    color: white;
    text-shadow: 20px 20px 5px black;
}