* {
    color: blue;
}

h1#textoPrincipal {
    color: yellow !important;
    font-size: 10px;
}

h1 {
    color: red !important;
    font-size: 30px;
}

#textoPrincipal {
    color: green;
}

/*
    se um seletor for mais específico que o outro a regra mais específica será aplicada.
*/


/* 
    Seletores Universais
    Tipo de Seletores
    Classes seletoras
    Atributos Seletores
    Pseudo-classes
    Seletores ID
    Estilo Inline
*/

